.GameSelectCtn{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;

}
@media only screen and (max-width: 768px) {
    body {
      font-size: 16px; /* Reduzindo o tamanho da fonte para mobile */
    }
  
    .menu {
      display: none; /* Esconder um menu, por exemplo */
    }
    .GameSelectCtn{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 500px;
        border-radius: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px;
        background:none;
    }
    .GameSelectCtn section {
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        width: 100% !important; 
        display: flex   ;
        justify-content: space-between;
        align-items: center;
    }
    .GameSelectCtn section ul li{
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        width: 100%;
        padding-right: 30px;
        display: flex   ;
        justify-content: space-between;
        align-items: center;
    }

  }
.GameSelectCtn h2{
    color: black;
    width: 80%;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    text-align:left;
    font-weight: 100;
    font-size: large;
    width: 80%;
    padding: 0%;
}

.GameSelectCtn section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding: 0%;

    margin: 0%;

    list-style-type: none;
}
.GameSelectCtn ul{
    
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 0%;
    margin: 0%;
    justify-content: center;
    list-style-type: none;
}
.GameSelectCtn section ul li{

    padding: 0px;
   
    display: flex   ;
    margin: 0%;
    
    

    
}



  