.ResultadoCtn{
    position: relative;
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    
    height: auto;
    flex-direction: column;

    .tabLayouyt{

        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h2{
        color: black;
        width: auto;
        margin: 0;
        height: auto;
        padding: 0%;
        
    }

    .TabBtn{
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
    
}

.Graphs{
    min-width: 500px;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.OperationsPanel{
    display: flex;
    color: white;
    padding: 10px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    .TabBtn{
        min-width: 140px;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: rgb(63, 58, 58);
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
}