.ResultadoCtn{
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    
    height: auto;
    flex-direction: column;
    background-color: #f5f5f500;
    gap : 20px;
    h2{
        color: black;
        width: auto;
        margin: 0;
        height: auto;
        padding: 0%;
        
    }

    
}

.Graphs{
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.OperationsPanel{
    display: flex;
    
    gap: 20px;
}