.GameSelectCtn{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 450px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;

}
@media only screen and (max-width: 768px) {
    body {
      font-size: 16px; /* Reduzindo o tamanho da fonte para mobile */
    }
  
    .menu {
      display: none; /* Esconder um menu, por exemplo */
    }
    .GameSelectCtn{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        max-width: 500px;
        border-radius: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 20px;
        background:none;
    }
    .GameSelectCtn section {
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        width: 100% !important; 
        display: flex   ;
        justify-content: space-between;
        align-items: center;
    }
    .GameSelectCtn section ul li{
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        width: 100%;
        padding-right: 30px;
        display: flex   ;
        justify-content: space-between;
        align-items: center;
    }

  }
.GameSelectCtn h2{
    color: black;
    width: 80%;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 0%;
}

.GameSelectCtn section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding: 0%;

    margin: 0%;

    list-style-type: none;
}
.GameSelectCtn ul{
    
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 0%;
    margin: 0%;
    justify-content: center;
    list-style-type: none;
}
.GameSelectCtn section ul li{
    background-color: #87c1dab4;

    padding: 0px;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: auto;

    display: grid   ;
    grid-template-columns: 4fr 1fr;
    grid-row: 1fr;
    justify-content:  space-between;
    align-content: center;
    align-items: center;

    justify-content: center;
    border-radius: 8px;
    align-content: center;
    box-shadow: 5px 5px 5px gainsboro;
    align-items: center;
    
    

    
}


.GameSelectCtn section ul li label{
    border-radius: 5px;    
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
    width:auto ;

    margin-bottom: 10px;

   
}

.InputDescription{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
    border-radius: 5px;
    
}
.InputDescription label{
    width: 100% !important;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: medium;
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: flex-start;
}



  