.GameSelectCtn{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-width: 500px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: rgb(160, 154, 154);
}
.GameSelectCtn h2{
    color: black;
    width: 80%;
    margin: 0;
    height: auto;

    width: 80%;
    padding: 0%;
}
.GameSelectCtn button{
    width: 80%;
    height: 40px;
    border:5px solid none;
    border: none;
    border-radius: 10px;
}
.GameSelectCtn section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding: 0%;

    margin: 0%;

    list-style-type: none;
}
.GameSelectCtn ul{
    
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
.GameSelectCtn ul li{
    background-color: rgb(121, 121, 121);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    padding-right: 30px;
    display: flex   ;
    justify-content: space-between;
    align-items: center;
}
.GameSelectCtn ul li h2{
    background-color: rgb(121, 121, 121);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: auto;
    flex: 1 0 21%; /* explanation below */
    padding-right: 30px;
}