.menuBotoes{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-bottom: 3px solid gainsboro;
}
.Tree{
    margin-left: 15px;
}
.Node{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    .NodeContent{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .checkbox:hover{
        cursor: pointer;
    }
    .NodeButtons{
        display: flex;
        gap: 10px;
    }
}
.Node:hover{
    background-color: #f5f5f5;
}
