.QuestionCtn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;

    height: 250px;
    border-radius: 15px;
    max-width: 300px;
    background-color: rgb(160, 154, 154);
    margin-top: 15px;
    margin-bottom: 15px;

    padding-top: 15px;
    padding-bottom: 15px;

}
.QuestionCtn h2{
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 0%;
    border-bottom: 3px solid white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
    justify-self: flex-start;

    }
.QuestionCtn ul{
    width: 80%;
    height: 100%;
    list-style: none;
    border:5px solid none;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 10px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

        padding-bottom: 15px;
}
.QuestionCtn li{
    margin: 0%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 30px;
    border:5px solid none;
    padding: 0%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;    
    
    width: 100%;

}
.QuestionCtn li:hover{
    background-color: rgb(121, 121, 121);
    color: white;
}