footer{
    width: 100%;
    height: 8vh;
    
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;

    box-shadow:-2.5px -5px 10px rgb(92, 91, 91);
    background-image: radial-gradient(#1d1d1d 0.35000000000000003px, #131313    0.35000000000000003px);

    font-size: .8em;
}

footer img{
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 75px;
    border-radius: 10px;
    margin: 0 auto;  
}

footer section{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    footer{
        padding-top: 50px;
    }
    footer section{
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
    footer section h2{
        margin-left: 0 ;
        align-self: center;
        margin-top: 10px !important  ; 
        font-size: x-large;

    }
    footer section h3{
        margin: 0 !important;
        padding: 0%;
        align-self: center;
        
        display: flex;  
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;

    }
    footer section a{
        margin-left: 0;
        padding: 0%;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;
    }
}
footer section h2{
    color: white;
    margin: 0;
    height: auto;
    padding: 0%;
    width: auto;
}
footer section h3{
    color: white;
    margin: 0;
    height: auto;
    padding: 0%;
    margin-left: 15px;
}
footer section a{
    color: white;
    margin: 0;
    height: auto;
    padding: 0%;
    margin-left: 15px;
    font-weight: normal;
}
