footer{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    flex-direction: column;
    gap: 0;
    
    align-self: center;

    background-color: #769faf;
    opacity: 1;
    background-image: radial-gradient(#769faf 0.35000000000000003px, #a2d5e9    0.35000000000000003px);
    background-size: 7px 7px;
    min-height: 200px;
    padding-bottom: 20px;
    box-shadow: -2.5px -5px 10px rgb(92, 91, 91);
}

footer img{
    width: 150px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    

}

footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 0;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 768px) {
    footer{
        padding-top: 50px;
    }
    footer section{
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
    footer section h2{
        margin-left: 0 ;
        align-self: center;
        margin-top: 10px !important  ; 
        font-size: x-large;

    }
    footer section h3{
        margin: 0 !important;
        padding: 0%;
        align-self: center;
        
        display: flex;  
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;

    }
    footer section a{
        margin-left: 0;
        padding: 0%;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;
    }
}
footer section h2{
    color: rgb(53, 53, 53);
    margin: 0;
    height: auto;
    padding: 0%;
    width: auto;
}
footer section a{
    color: black;
    margin: 0;
    height: auto;
    padding: 0%;
    margin-left: 15px;
    font-weight: normal;
}
footer section h3{
    color: black;
    margin: 0;
    height: auto;
    padding: 0%;
    margin-left: 15px;
    font-weight: normal; 
}