footer{
    width: 100%;
    height: auto;
    border-top: 4px solid #000;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    flex-direction: column;
    gap: 0;
    
    align-self: center;

    background-color: #59565c;
opacity: 1;
background-image: radial-gradient(#1d1d1d 0.35000000000000003px, #131313    0.35000000000000003px);
background-size: 7px 7px;
    min-height: 200px;
    padding-bottom: 20px;

}

footer img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 0;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 768px) {
    footer{
        padding-top: 50px;
    }
    footer section{
        width: 70%;
        flex-direction: column;
        align-items: center;
    }
    footer section h2{
        margin-left: 0 ;
        align-self: center;
        margin-top: 10px !important  ; 
        font-size: x-large;

    }
    footer section h3{
        margin: 0 !important;
        padding: 0%;
        align-self: center;
        
        display: flex;  
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;

    }
    footer section a{
        margin-left: 0;
        padding: 0%;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: medium !important;
        align-items: center;
        width: 100%;
    }
}
footer section h2{
    color: white;
    margin: 0;
    height: auto;
    padding: 0%;
    width: auto;
}
footer section h3{
    color: white;
    margin: 0;
    height: auto;
    padding: 0%;
    margin-left: 15px;
}