@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
header{
    width: 100%;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    align-self: flex-start;
    box-shadow: -2.5px 5px 10px rgb(92, 91, 91);

    background-color: #769faf;
    opacity: 1;
    background-image: radial-gradient(#769faf 0.35000000000000003px, #a2d5e9    0.35000000000000003px);
    background-size: 7px 7px;
}
h1{
    margin: 0;
    height: auto;
    width: fit-content;
    padding: 0%;
    margin-left: 15px;

    font-weight: 0;
    font-size:40px;
    color: rgb(24, 24, 24);
}
header h2{
    color: black;
    color: rgb(204, 90, 90);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    height: auto;
    margin-left: 15px;

    padding: 0%;
}