.ResultadoCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    background-color: #f5f5f500;
}
.ResultadoCtn h2{
    color: black;
    width: 80%;
    margin: 0;
    height: auto;

    width: 80%;
    padding: 0%;
    
}
.ResultadoCtn button{
    width: 80%;
    height: 40px;
    border:5px solid none;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(160, 154, 154);
}
.resultText{
    width: 80%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}