@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  height: 100vh;
  background-color: #ffffff;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

}
main{
    width: 100%;
    min-height: calc(100vh - 150px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}
#root{
  height: 100vh;
  width: 100%;
}
.App{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    gap: 0;
}